@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

:root{
  --primary: #183459;
  --secondary: #244673;
  --accent: #3370A6;
  --light: #8FB6D9;
  --white: #F2F2F2;

  --wh-bg: rgba(255, 255, 255, 0.6);
}
/* anim 	&#xf053; */
@keyframes site-anim{
  0%{
    background-position: left;
  }
  25%{
    background-position: right;
  }
  50%{
    background-position: center;
  }
  100%{
    background-position: left;
  }
}
/* @keyframes reng-anim {
  0%{background-image: url(gallery/back1.png);}
  25%{background-image: url(gallery/back2.png);}
  50%{background-image: url(gallery/back3.png);}
  100%{background-image: url(gallery/back1.png);}
} */

body{
  background-color: black;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='738' preserveAspectRatio='none' viewBox='0 0 1440 738'%3e%3cg mask='url(%26quot%3b%23SvgjsMask4075%26quot%3b)' fill='none'%3e%3crect width='1440' height='738' x='0' y='0' fill='url(%23SvgjsRadialGradient4076)'%3e%3c/rect%3e%3cpath d='M1512 738L0 738 L0 606.39Q6.74 541.13%2c 72 547.86Q129.55 533.41%2c 144 590.96Q170.37 545.33%2c 216 571.69Q263.38 499.07%2c 336 546.44Q403.07 493.51%2c 456 560.57Q536.1 520.67%2c 576 600.77Q622.63 527.4%2c 696 574.04Q763.56 521.6%2c 816 589.16Q835.87 537.03%2c 888 556.9Q974.13 523.03%2c 1008 609.16Q1047.8 528.96%2c 1128 568.76Q1169.11 537.87%2c 1200 578.98Q1276.47 535.45%2c 1320 611.92Q1349.9 521.83%2c 1440 551.73Q1482.66 522.39%2c 1512 565.06z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1512 738L0 738 L0 652.48Q17.81 598.29%2c 72 616.1Q101.59 573.69%2c 144 603.28Q201.85 589.13%2c 216 646.97Q245.5 604.47%2c 288 633.96Q318.81 592.77%2c 360 623.58Q386.66 578.24%2c 432 604.9Q512.54 565.44%2c 552 645.99Q598.02 572.01%2c 672 618.04Q751.54 577.58%2c 792 657.11Q827.26 572.38%2c 912 607.64Q986.01 561.65%2c 1032 635.67Q1099.07 582.74%2c 1152 649.81Q1199.3 577.11%2c 1272 624.41Q1324.09 556.5%2c 1392 608.59Q1445.34 541.93%2c 1512 595.27z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1464 738L0 738 L0 658.15Q61.15 599.3%2c 120 660.45Q190.63 611.08%2c 240 681.7Q270.39 640.1%2c 312 670.49Q337.57 624.06%2c 384 649.62Q439.57 633.19%2c 456 688.76Q522.44 635.2%2c 576 701.65Q593.3 646.95%2c 648 664.25Q698.39 594.64%2c 768 645.04Q854.5 611.54%2c 888 698.05Q953.46 643.5%2c 1008 708.96Q1034.63 615.59%2c 1128 642.21Q1197.67 591.88%2c 1248 661.56Q1307.73 649.29%2c 1320 709.02Q1345.34 662.36%2c 1392 687.7Q1416.42 640.13%2c 1464 664.55z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1536 738L0 738 L0 699.09Q64.14 691.24%2c 72 755.38Q96.62 708%2c 144 732.61Q163.19 679.8%2c 216 698.98Q287.63 650.61%2c 336 722.24Q379.89 694.13%2c 408 738.03Q446.61 656.63%2c 528 695.24Q599.41 646.65%2c 648 718.06Q693.22 691.27%2c 720 736.49Q738.85 683.34%2c 792 702.18Q860.13 650.31%2c 912 718.44Q988.51 674.95%2c 1032 751.46Q1062.43 661.89%2c 1152 692.33Q1223.74 644.07%2c 1272 715.8Q1319.8 691.6%2c 1344 739.4Q1361.09 684.49%2c 1416 701.57Q1482.86 648.43%2c 1536 715.3z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask4075'%3e%3crect width='1440' height='738' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='100%25' cy='100%25' r='1618.1' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient4076'%3e%3cstop stop-color='rgba(4%2c 16%2c 31%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(33%2c 107%2c 202%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: site-anim 40s infinite;
}
a{
  font-family: 'Roboto Mono', monospace !important;
}
.nav ul, li{
  display: inline;
}
a:visited, a:link{
  text-decoration: none;
}
.container{
  position: relative;
  border-radius: 18px;
  padding: 2.5vh;
}
.user::after{
  content: 'USER';
  color: green;
}
.admin::after{
  content: 'ADMIN';
  color: darkcyan;
}
table span:first-of-type::after, table span:last-of-type::after{
  font-weight: bold;
  content: ']';
  color: var(--bracket);
}
table span:first-of-type::before, table span:last-of-type::before{
  font-weight: bold;
  content: '[';
  color: var(--bracket);
}
th{
  text-align: center;
}
table > *{
  font-size: 1.7em;
}
tr td{
  font-size: 1.3rem;
}
.navbar-brand img{
  height: 40px !important;
  background-color: rgba(255, 255, 255, 0.356);
  border-radius: 50%;
  box-shadow: white 0 0 1em 0.01em;
}

.chat{
  height: 50vh;
  background-color: var(--wh-bg);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.250);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: bottom right;
  border: 3px solid var(--accent);
  box-shadow: 0.1em 0 0.5em 0.01em black,
              inset 0 0 0.1em 0.01em black;
  position: relative;
  padding: 1em 0 0 1em;
  border-radius: 10px;

  overflow-y: scroll;
  overflow-x: hidden;
}
.chatarea{
  position: relative;
}
.row p:first-of-type{
  display: none;
}
.row p, .row .botmess{
  font-size: 14px;
  display: block;
  clear: both;
  max-width: 55%;
  padding: 1vh 2vh;
  min-height: 1vh;
  height: auto;
  border-radius: 20px;
  margin: 5px;
  white-space: pre-wrap;
  box-shadow: 0 0.1em 0.2em 0.01em black;
}
.row p{
  background-color: rgb(255, 255, 255);
  color: black;
  margin-right: 10px;
}
.row .botmess{
  background-color: rgb(0, 0, 0);
  color: white;
}
.chatarea input{
  margin-top: 5px;
  color: black;
  height: 35px;
  border: 1px solid var(--light);
  box-shadow: 0.01em 0 0.2em black,
              inset 0.01em 0 0.2em black;
  border-radius: 10px 10px 10px 10px;
}
.chatarea input:focus{
  outline: none;
}
.sparea{
  position: relative;
}
.chatarea button{
  top: 5px;
  position: absolute;
  right: 10px;
  color: white;
  background-color: var(--secondary);
  font-weight: bold;
  text-shadow: 0.01em 0 0.2em black;
  height: 35px;
  border: 2px solid var(--accent);
  box-shadow: 0.01em 0 0.2em black;
  border-radius: 10px 10px 10px 10px;
}
.chatarea input::placeholder{
  color: rgba(255, 255, 255, 0.589);
}
/* Scrollbar */
.chat::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  border-radius: 10px;
}
.chat::-webkit-scrollbar{
  padding: 10px;
  width: 10px;
}
.chat::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: var(--secondary);
}
.popup{
  display: none;
}
.clearpop{
  background-color:rgba(197, 197, 197, 0.822);
  border-radius: 10px;
  border: 2px solid rgb(116, 116, 116);
}
.cl{
  outline: none;
  border: none;
}

.bg{
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 17px;
}
@keyframes sayit{
  0%{}
  50%{background-position: 4vh 4vh;
      transform: rotate(10deg);}
  80%{background-position: 7vh 14vh;
      transform: rotate(-5deg);}
  100%{}
}
@keyframes sayit2{
  0%{}
  30%{bottom: -18vh;
      transform: rotate(10deg);}
  50%{left: 16vh;
      transform: rotate(-5deg);}
  70%{left: 20vh;
      transform: rotate(1deg);}
  100%{}
}
.container::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url(gallery/Cloudy.png);
  background-size: 30%;
  background-position: 5vh;
  background-repeat: no-repeat;
  filter: brightness(1.6);
  animation: sayit 3s infinite linear;
}
/* mobile */
@media (max-width: 767px) {
  .container::before{
  display: none;
  }
}
@media (max-width: 480px) {
  .container::before{
    display: none;
  }
}

.mcloudy{
  position: absolute;
  left: 0;
  bottom: -20vh;
  animation: sayit2 4s infinite linear;
}
.mcloudy img{
  position: relative;
  height: 25vh;
  filter: brightness(1.6);
}
